
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#root {
    width: 100%;
    height: 100%;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
ul {
    list-style-type: none;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
}
::-webkit-scrollbar-thumb {
    background-color: var(--theme);
    border-radius: 5rem;
    /* background-color: #3a415c; */
}
::-webkit-scrollbar-track {
    background-color: var(--light);
    /* background-color: #29303b; */
}
::-webkit-scrollbar-corner {
    background-color: var(--bg-light);
}