.inspection-entry-form {
    margin: 0 40px;
    /* text-align: left; */
    .title {
        font-size: 35px;
        /* margin: 0 0 30px; */
    }

    .button-container {
        margin: 20px 0; 
        text-align: left; 
        display: flex; 
        align-items: center; 
        gap: 10px;

    }    
    .button-css { 
        font-size: 12px;
        padding: 6px 12px 5px 20px;
        border-radius: 8px;
        font-weight: 600 
    }

    
    .prefilled-form {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 1rem;

        #mat-select-field { 
            width: 12rem; 
        }   
    }

    .parameter-box-container {
        margin-top: 30px;
        
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        /* display: grid;
        grid-template-columns: 2fr 2fr;
        justify-content: start; */

        gap: 2rem;
        /* border: 2px solid red; */
        /* width: 70%; */

        .parameter-box {
            padding: 12px;
            box-shadow: 0 1px 12px rgba(0, 0, 0, 0.05),
            0 -1px 12px rgba(0, 0, 0, 0.05),
            1px 0 12px rgba(0, 0, 0, 0.05),
            -1px 0 12px rgba(0, 0, 0, 0.05);
            

            /* border: 1px solid lightgray; */
            border-radius: 5px;
            width: 25rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 0.1rem;

            .close-icon {
                /* border: 0.1px solid #d43434;
                border-radius: 50%;
                box-shadow: inset 0 0 5px #f99696; */
            }
        }
    }


    .action-buttons {
        /* margin-top: 10px; */
        display: flex;
        align-items: center;
        gap: 1rem;
        /* text-align: right; */
    }

}


/* .actions-column {
    position: sticky;
    right: 0;
    z-index: 100000 !important;
    border: 2px solid red;
    width: 100%;
} */