.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background-image: url('/bg.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-container {
    padding: 120px;
    /* height: 100%; */
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr; 
    /* display: flex;
    align-items: center;
    justify-content: center; */

    .image-container {
        padding: 0 50px 0 0;
        text-align: end;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border: 2px solid red; */
    }

    .login-form {
        padding: 30px;
        /* border: 1px solid lightgray; */
        /* box-shadow: 0.5px 0.5px 10px #e9e9e9,
            -0.5px -0.5px 10px #e9e9e9,
            0.5px -0.5px 10px #e9e9e9,
            -0.5px 0.5px 10px #e9e9e9;   */

            /* box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.2); */
            /* box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff; */
            /* box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1); */
            /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);




        border-radius: 3px;
        
        .login-title {
            font-size: 28px;
            margin: 0 0 20px;
        }

        .text-field {
            margin-bottom: 20px;
        }
        .forgot-password {
            margin-top: 20px;
            text-decoration: none;
            font-size: 20px;
        }
        Button {
            margin-top: 20px;
            width: 180px;
        }
    }
}